*{
	margin: 0;
	padding: 0;
    background-color: 292C33;
	font-family: consoles;
}
/*font*/
@font-face{
    font-family:Consoles;
    src:url("Consolas.ttf") format("truetype");
}
/*NAVBAR*/
ol{
	text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
ol li{
    padding: 25px;
    background-color: black;
  
    
}
a{
    text-decoration: none;
    color:885660;
}

ol li a{
    text-decoration: none;
    color: white;
}

#floatLeft{
    margin-right: auto;
}

ol li:hover{
    
}

.Text_Wrap{
    display: flex;
    color:  D9BD86;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 10%;
    margin-bottom: 20px;
    line-height: 35px;
    font-size: 30px;
    
}

.Text_Wrap p{
    padding: 20px;
}
/* local ID*/
#Introduction{
    
}
#Project{
     margin-left: 10%;
    margin-right: 25%;
}
#AboutMeparagraph{
    margin-left: 30%;
    
}

#CurlyBrackets{
    font-weight:bolder;
    font-size: 35px;
}

#Light_blue_highlight{
    color: 619CD4;
}

#Color_HightLight_lightRed{
    color:885660;
}

#HightLight_LightGreen{
    color: 88B379;
}
#Comment{
    color:5F6B85;
    font-size: 25px;
   
}
